<form (submit)="onSubmit(searchForm)" (reset)="onReset()" #searchForm="ngForm">
  <div class="form-group row">
    <label for="keywords" class="col-form-label col-sm-2">
      Key Words<span class="redAsteroid">*</span>
    </label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        name="keywords"
        id="keywords"
        placeholder="Enter keywords"
        required
        [(ngModel)]="searchFilters.keywords"
        #keywords="ngModel"
      />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-form-label col-sm-2">
      Price Range
    </div>
    <div class="col">
      <input
        type="number"
        class="form-control"
        name="MinPrice"
        placeholder="Min price"
        min="0"
        [(ngModel)]="searchFilters.min_price"
      />
    </div>
    <div class="col">
      <input
        type="number"
        class="form-control"
        name="MaxPrice"
        placeholder="Max price"
        min="0"
        [(ngModel)]="searchFilters.max_price"
      />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2 col-form-label">Condition</div>
    <div class="col-sm-10">
      <div
        class="form-check form-check-inline"
        *ngFor="let x of conditionInfo | keyvalue"
      >
        <label>
          <input type="checkbox" name='{{ "condition" + x.key }}' ngModel />
          {{ x.value }}
        </label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2 col-form-label">Seller</div>
    <div class="col-sm-10">
      <div class="form-check form-check-inline">
        <label>
          <input
            type="checkbox"
            name="ReturnsAcceptedOnly"
            [(ngModel)]="searchFilters.returns_accepted_only"
          />
          Return Accepted
        </label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2 col-form-label">Shipping</div>
    <div class="col-sm-10">
      <div class="form-check form-check-inline">
        <label>
          <input
            type="checkbox"
            name="FreeShippingOnly"
            [(ngModel)]="searchFilters.free_shipping_only"
          />
          Free
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label>
          <input
            type="checkbox"
            name="shippingExpedited"
            [(ngModel)]="searchFilters.shipping_expedited"
          />
          Expedited
        </label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2 col-form-label">Sort Order</div>
    <div class="col-sm-10">
      <select
        class="custom-select"
        size="1"
        name="sortOrder"
        id="selectSortBy"
        [(ngModel)]="searchFilters.sort_order"
      >
        <option value="BestMatch">Best Match</option>
        <option value="CurrentPriceHighest">CurrentPriceHighest</option>
        <option value="PricePlusShippingHighest"
          >PricePlusShippingHighest</option
        >
        <option value="PricePlusShippingLowest">PricePlusShippingLowest</option>
      </select>
    </div>
  </div>

  <div class="row justify-content-end mt-0 mb-5">
    <button type="submit" class="btn btn-primary mx-1 mt-2">
      <span class="material-icons align-middle">search</span>Search
    </button>
    <button type="reset" class="btn btn-secondary mx-1 mt-2">
      <span class="material-icons align-middle">clear_all</span>Clear
    </button>
  </div>

  <div
    class="alert alert-warning text-center text-dark"
    role="alert"
    *ngIf="keywords.invalid && submitted"
  >
    Please enter a keyword
  </div>

  <div
    class="alert alert-warning text-center text-dark"
    role="alert"
    *ngIf="!priceRangeValid"
  >
    Please use appropriate values for minPrice/maxPrice
  </div>

  <div
    class="alert alert-warning text-center text-dark"
    role="alert"
    *ngIf="noMatch"
  >
    No exact matches found
  </div>
</form>
